@media(min-width:576px) {

    /* carousel */
    /* .carousel-container {
        max-width: 80%;
    } */



    /* services */
    .services .col-12:first-child .services-item a::before {
        position: absolute;
        width: 80%;
        height: 70%;
        background-image: linear-gradient(to left, #55b4d4, #5758e0);
        top: -20px;
        left: -10px;
        content: '';
        z-index: -1;
        display: none;
    }

    .services .col-12:last-child .services-item a::before {
        position: absolute;
        width: 80%;
        height: 70%;
        background-image: linear-gradient(to left, #55b4d4, #5758e0);
        right: -10px;
        bottom: -20px;
        content: '';
        z-index: -1;
        display: none;


    }

    /* contact */
    .contact .col-12:first-child .contact-item a::before {
        position: absolute;
        width: 80%;
        height: 70%;
        background-image: linear-gradient(to left, #55b4d4, #5758e0);
        top: -20px;
        left: -10px;
        content: '';
        z-index: -1;
        display: none;

    }

    .contact .col-12:last-child .contact-item a::before {
        position: absolute;
        width: 80%;
        height: 70%;
        background-image: linear-gradient(to left, #55b4d4, #5758e0);
        right: -10px;
        bottom: -20px;
        content: '';
        z-index: -1;
        display: none;

    }
}

@media(min-width:768px) {
   
    /* services */

    .services .col-12:first-child .services-item a::before {
        position: absolute;
        width: 80%;
        height: 70%;
        background-image: linear-gradient(to left, #55b4d4, #5758e0);
        top: -20px;
        left: -10px;
        content: '';
        z-index: -1;
        display: block;
    }

    .services .col-12:last-child .services-item a::before {
        position: absolute;
        width: 80%;
        height: 70%;
        background-image: linear-gradient(to left, #55b4d4, #5758e0);
        right: -10px;
        bottom: -20px;
        content: '';
        z-index: -1;
        display: block;
    }

}

@media(min-width:992px) {

    /* contact */
    .contact .col-12:first-child .contact-item a::before {
        position: absolute;
        width: 80%;
        height: 70%;
        background-image: linear-gradient(to left, #55b4d4, #5758e0);
        top: -20px;
        left: -10px;
        content: '';
        z-index: -1;
        display: block;

    }

    .contact .col-12:last-child .contact-item a::before {
        position: absolute;
        width: 80%;
        height: 70%;
        background-image: linear-gradient(to left, #55b4d4, #5758e0);
        right: -10px;
        bottom: -20px;
        content: '';
        z-index: -1;
        display: block;

    }
}

@media(min-width:1200px) {}

@media(min-width:1400px) {}