* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    /* font-family: '' !important; */
}

/* header */
header nav li:not(:last-child) a:hover {
    color: #007bff !important;
}

header nav li:last-child a {
    border-color: #5758e0 !important;
}

nav ul li:last-child a:hover {
    background-image: linear-gradient(to right, #5758e0, #007bff);
    color: white !important;
}
/* carousel */
.carousel-item{
background: url(../img/slide.jpg),rgba(0, 0, 0, 0.7);
background-size: cover;
padding: 100px;
background-blend-mode: color-burn;

}
.carousel-item a{
    background-color: #5758e0;
}
.carousel-item h2{
 background-image:linear-gradient(to left, #55b4d4, #5758e0);
background-clip: text;
color: transparent;
}