* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'jost';
}
::placeholder {
    color: rgb(255, 255, 255) !important;
}


/* header */
header nav li:not(:last-child) a:hover {
    color: #007bff !important;
}

header nav li:last-child a {
    border-color: #5758e0 !important;
}

nav ul li:last-child a:hover {
    background-image: linear-gradient(to right, #5758e0, #007bff);
    color: white !important;
}

/* carousel */
.carousel-item {
    background: url(../img/slide.jpg), rgba(0, 0, 0, 0.7);
    background-size: cover;
    padding: 100px 0px;
    background-blend-mode: color-burn;

}

.carousel-item a {
    background-color: #5758e0;
}

.carousel-item h2 {
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    background-clip: text;
    color: transparent;
}

.carousel button span{
    background-color: #5758e0;

}

/* services */

.services-item a i:first-child {
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    background-clip: text;
    color: transparent;
}

.services {
    padding: 100px 0px;
}

.services-item:hover {
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    color: white !important;
    transform: translateY(-10px);
    transition: 0.2s;
}



.services .col-lg-4:first-child .services-item a::before {
    position: absolute;
    width: 80%;
    height: 70%;
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    top: -20px;
    left: -10px;
    content: '';
    z-index: -1;
}


.services .col-lg-4:last-child .services-item a::before {
    position: absolute;
    width: 80%;
    height: 70%;
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    right: -10px;
    bottom: -20px;
    content: '';
    z-index: -1;
}

.services .col-lg-4:first-child .services-item:hover a::before {
    display: none;
}

.services .col-lg-4:last-child .services-item:hover a::before {
    display: none;
}

.services-item:hover .services-hover{
    color: white !important;

}

/* about */
.about span {
    width: 50px;
    height: 5px;
    background-image: linear-gradient(to left, #55b4d4, #5758e0);

}

.about {
    padding: 80px 0px;
}

/*ability */
.ability .ability-contain span {
    width: 50px;
    height: 5px;
    background-image: linear-gradient(to left, #55b4d4, #5758e0);

}

.ability {
    padding: 100px 0px;

}

.ability-contain li i {
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    background-clip: text;
    color: transparent;
}

/* features */
.features {
    padding: 100px 0px;

}

/* portfolio */
.portfolio {
    padding: 100px 0px;

}

.portfolio img {
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.portfolio-card:hover {
    transform: translateY(-10px);
    transition: 0.2s;
}

.portfolio-overlay .card-img-overlay {
    opacity: 0%;
}

.portfolio-overlay .card-img-overlay:hover {
    background-image: linear-gradient(to left, rgba(85, 193, 212, 0.815), #5757e0d0);
    opacity: 100%;
}

.portfolio-overlay .card-img-overlay h2 {
    margin-top: 150px;
}

/* Video */
.video {
    padding: 100px 0px;

}

.video .video-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;


}

.video .video-inner i {
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    background-clip: text;
    color: transparent;
    font-size: 8rem;
    top: 35%;
    left: 45%;
}

.video .video-inner i:hover {
    font-size: 10rem;
}

/* testimonial */
.testimonial {
    padding: 80px 0px;

}

.testimonial-item img {
    width: 100px;
    height: 100px;

}

.testimonial-item i {
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    background-clip: text;
    color: transparent;
}

.testimonial-item:hover {
    background-image: linear-gradient(to left, rgba(85, 193, 212, 0.815), #5757e0d0);
    opacity: 100%;
    transform: translateY(-10px);
    transition: 0.2s;
}

.testimonial-item:hover .testimonial-hover {
    color: white !important;

}

/* taking */
.taking {
    padding: 50px 0px;

}

.taking-contain span {
    width: 50px;
    height: 5px;
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
}

.taking-contain .btn {
    background-color: #5758e0;
}

.taking-contain .btn:hover {
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
}
.taking-img i{
    background-image: linear-gradient(to right, #5758e0, lightseagreen);
    background-clip: text;
    color: transparent;
}

/* contact */
.contact{
    padding: 80px 0px;

}
.contact-item a i:first-child {
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    background-clip: text;
    color: transparent;
}
.contact-item:hover  {
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    transform: translateY(-10px);
    transition: 0.2s;
}

.contact .col-12:first-child .contact-item a::before {
    position: absolute;
    width: 80%;
    height: 70%;
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    top: -20px;
    left: -10px;
    content: '';
    z-index: -1;
}
.contact .col-12:last-child .contact-item a::before {
    position: absolute;
    width: 80%;
    height: 70%;
    background-image: linear-gradient(to left, #55b4d4, #5758e0);
    right: -10px;
    bottom: -20px;
    content: '';
    z-index: -1;
}

.contact .col-12:first-child .contact-item:hover a::before {
    display: none;
}

.contact .col-12:last-child .contact-item:hover a::before {
    display: none;
}
.contact-item:hover .contact-hover{
    color: white !important;

}
/* footer */
footer li a{
    color: #55b4d4;
}
